
.index {
    text-decoration: none;
}

.release-col{
    font-family: sans-serif;

}

.genre-col{
    font-family: sans-serif;
}

.album-col{
     font-family: sans-serif;
}

.artist-col{
     font-family: sans-serif;
}

.title-col{
     font-family: sans-serif;
}